p{
	font-size: 15px;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
}

h3, .info-a, .nav li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.home{
	background: url("../img/bg-noise.png") repeat;
}	

.nav{
	position: fixed;
    top: 0;
    padding-top: 3px;
    width: 100%;
    z-index: 2;
}

.nav:before{
	background: url("../img/bg-noisee.jpg") repeat-x;
    width: 100%;
    content: '';
    display: block;
     position: absolute;
     height: 50px;
     left: 0;
     z-index: 1;
}

.nav:after {
	width: 100%;
	content: '';
	display: block;
	position: absolute;
	height: 57px;
	left: 0;
	z-index: 0;
	top: 0;
	background: url("../img/dark-grey.png") repeat;
	-webkit-box-shadow: 0px 6px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 6px 14px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.75);
}

.nav ul{
	z-index: 2;
}

.nav li{
	float:  left;
	padding-right: 8px;
	list-style: none;
}

.nav li a{
	background: #0297af url("../img/texture.jpg") repeat;
	color: white;
    display: block;
    width: 120px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    padding-top: 14px;
    text-decoration: none;
    font-weight: bold;
    -o-transition: background 1s;
    -ms-transition: background 1s;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.nav li a:hover{
	background: #B24926;
}

.content .content-img-php img{
	width: 50%;
}

.home{
	padding-top: 150px;
	padding-bottom:50px; 
}

.content-info .content-img-php{
	text-indent: 999999;
}

.content-info a.info-a {
	border-bottom: 1px solid #03b4d1;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

.content-info a.info-a:hover {
	border-bottom: 1px solid #A3A3A3;
	opacity: 0.75;
}